.button

{
    -fx-background-color:radial-gradient(center 50%-40%,radius 200%,#00FFFF 45%,#00BFFF 50%);
    -fx-text-fill: black;
    -fx-font-size: 20px;

}
.button:hover
{
    -fx-background-color:linear-gradient(greenyellow,limegreen);
    -fx-text-fill: black;
    -fx-font-size:20px;

}
.button:hover
{
    -fx-text-fill:whitesmoke;

}
.text-field
{
    -fx-background-color: #f95154;
}

